// 共通レイアウトクラス

// .l-container {
//   max-width: $container-width;
//   margin: 0 auto;
//   padding: 0 20px;
// }

//  l- 始まりおすすめ
//  ページ固有の調整は❌

.l-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-center {
  text-align: center;
}
