// section-titleなどのタイトル群のスタイル
@use "../base/variables" as vars;

.section__title span {
  display: block;
}

.section__title-main {
  font-size: var(--fz60);
  color: vars.$color-main;
  text-align: center;
  font-weight: bold;
}

.section__title-label {
  font-size: -var(--fz20);
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}
