//  ちょっとした便利クラス（ユーティリティ）

// 書くもの例
// .u-text-center {
//   text-align: center;
// }

// .u-hidden {
//   display: none;
// }

// .u-mt-20 {
//   margin-top: 20px;
// }

// fonts
// montserrat
.en {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

// noto-sans-jpはbodyに指定

// 幅制限用
// コンテンツ幅1100pxを保証するためここにはpaddingは記載しない
.inner {
  margin: 0 auto;
  width: 1100px;
  max-width: 100%;
}
