//  ちょっとした便利クラス（ユーティリティ）
@use "./mixins" as mix;

// fonts
// montserrat
.f-mont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bold {
  font-weight: bold;
}

// noto-sans-jpはbodyに指定

// 幅制限用
// コンテンツ幅1100pxを保証するためここにはpaddingは記載しない
.inner {
  margin: 0 auto;
  width: 1100px;
  max-width: 100%;
}

// レスポンシブデザイン　メニュー改行用
.pc-off {
  display: none;
  @include mix.mq(pc-to-tab) {
    display: block;
  }
}

.pc-tab-off {
  display: none;
  @include mix.mq(sp) {
    display: block;
  }
}
