//  ちょっとした便利クラス（ユーティリティ）

// 書くもの例
// .u-text-center {
//   text-align: center;
// }

// .u-hidden {
//   display: none;
// }

// .u-mt-20 {
//   margin-top: 20px;
// }

// fonts
// montserrat
.f-mont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  //   font-weight: <weight>;
  font-style: normal;
}

// noto-sans-jp
.f-noto {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  //   font-weight: <weight>;
  font-style: normal;
}
