// サイト全体の「ルール」（このサイトではこうする）を:rootに置く
// 一度きりの演出用ならセレクタに直書きでOKだが再利用する可能性があればCSS変数にしておく

:root {
  --fz36: clamp(1.4rem, 2.6vw, 3.6rem);
  --fz26: clamp(1.4rem, 3vw, 2.6rem);
  --fz24: clamp(1.4rem, 2.2vw, 2.4rem);
  --fv18: clamp(1rem, 2vw, 1.8rem);
  --fz16: clamp(1rem, 2vw, 1.6rem);
}
