//  色・サイズ・フォントなどの「値」だけ

// 書くもの例
// // color
// $color-main: #0047ab;
// $color-sub: #f2f5f9;
// $color-text: #333;

// // font
// $font-base: "Noto Sans JP", sans-serif;

// // size
// $header-height: 80px;
// $container-width: 1200px;

// // z-index
// $z-header: 100;
// $z-menu: 200;

$color-main: #d136d1;
$color-sub: #fff;

$section-padding: clamp(6rem, 4.182rem + 9.09vw, 11rem);

// ブレイクポイント
$breakpoints: (
  // ===== PC =====
  "pc-wide": "screen and (max-width: 1280px) and (min-width: 1024px)",
  // 大きめPC（可変font-size用）
  "pc-mid": "screen and (max-width: 1260px)",
  // 英語FVなど微調整
  "pc-narrow": "screen and (max-width: 1100px)",
  // PC下限・タブレット手前
  "pc-to-tab": "screen and (max-width: 1024px)",
  // PC→タブレット遷移
  "pc": "screen and (min-width: 801px)",

  // ===== TABLET / SP =====
  "sp": "screen and (max-width: 767px)",
  // footerとページトップボタンが重ならないための微調整
  "sp-min": "screen and (max-width: 450px)",
  // メインSP・タブレット
  "tab-wide": "screen and (max-width: 851px)"
);
