//  色・サイズ・フォントなどの「値」だけ

// 書くもの例
// // color
// $color-main: #0047ab;
// $color-sub: #f2f5f9;
// $color-text: #333;

// // font
// $font-base: "Noto Sans JP", sans-serif;

// // size
// $header-height: 80px;
// $container-width: 1200px;

// // z-index
// $z-header: 100;
// $z-menu: 200;

$color-main: #d136d1;
$color-sub: #fff;

$section-padding: 110px;
